* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.active {
    color:#01D4BF !important;  
}

html {
    font-size: 24px;
    font-family: 'Bebas Neue','Montserrat';
}

::selection {
    background-color: #01D4BF;
    color: #fff;
}
body {
    background-color: #eeeeee;

}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
  }

.siema {
    opacity: .1;
}